@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: sans-serif;
}
.text-muted2{
  color: white;
}
.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-body{
  display: flex;
  justify-content: space-between;

}
.colum1{
  max-width: 400px;
}
.colum1 h1{
  font-size: 22px;
}
.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 28px;
}
.colum2{
  max-width: 400px;
}
.colum2 h1{
  font-size: 22px;
}
.colum2 .row{
  margin-top: 20px;
  display: flex;
}
.row img{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 10px;
  margin-left: 10px;
  color:#C7C7C7;
}
.colum3{
  max-width: 400px;
}
.colum3 h1{
  font-size: 22px;
}
.row2{
  margin-top: 20px;
}
.row img{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}
.container-footer{
  width: 100%;
  background: ;
}
.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.copyright{
  color: #e81c1c;
}
.copyright1{
  color: red;
}
.modal_wrap{
  width: 100%;
  height: 100vh;
  background: rgba(226, 213, 213, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mensaje_modal{
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0,5);
  width: 400px;
  padding: 30px 20px 15px;
}
.mensaje_modal h3{
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  font-weight: 400;
}
.container-one{
  margin-top: -10px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form-row1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -102px;
  margin-left: -40px;
}
.copyright{
 background-color: #343a40;
}
.alert-men{
color:red;
background-color:
border-color: #e7f90073;
right: -25px;
}
.alerta {
  position: relative;
  padding: .75rem 1.25rem;
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgba(255, 237, 4, 0.55)
}
.mensaje_modal h3::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}
  .mensaje_modal p{
    font-size: 16px;
    color: #606060;
}
  .mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-inline-block;
    color: #E25151;
    margin-right: 8px;
}
  #btnClose{
    display: inline-block;
    padding: 3px 10px;
    margin-top:10px;
    background: #E25151;
    color:#fff;
    border: 2px solid #B14141;
    cursor: pointer;
    float: right;
  }
  #alert img{
    display: none;
  }
  .text-muted2 {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%
    overflow:hidden;
  }
  .text-muted2 iframe{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
@media screen and (max-width:1100px){
  .container-body{
   flex-wrap: wrap;
 }
 .colum1{
   max-width: 100%;
 }
   .colum2,
   .colum3{
     margin-top: 40px;
  }
}
