#alert{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
#alert img{
  display: none;
}
.ima-body{
  display: flex;
  justify-content: center;

}
.ima-body img{
  height: 30px;
  width:  30px;
}
.modal1 {
  color: rgb(226, 46, 15);
}
.modal2{
  color: rgb(226, 46, 15);
}
